/* Header */

.topnav {
    margin-top: 15px;
}

#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////// HEADER */


/* Grid Layout */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial
}


/* //////////////////////// News bar/////////////////////////////// */

.news {
    margin-top: 2%;
    background-color: rgb(66.3%, 66.3%, 66.3%);
    border: 2px solid black;
}


/* /Interesting Topic ///////////////////////////////////////////////////////////// */

.scrollMenu {
    height: 180px;
    overflow-y: auto;
    border: 2px solid black;
    border-radius: 7px;
}

.normalMenu {
    border: 2px solid black;
    border-radius: 7px;
}

.leftMenu {
    margin-top: 100px !important;
}

.newsList {
    list-style-type: none;
}


/* //divs///////////////////////////////////////////////////// */

.newsImage {
    float: left;
}

.newsName {
    float: left;
    overflow: hidden;
}

.newsContainer {
    clear: both;
    margin-top: 5%;
}